.clients-title {
  font-size: 3rem;
  font-weight: 300;
  color: #888;
  margin-bottom: 20px;
}

.scrollable-container {
  height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.logos-grid {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.logos-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.client-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.client-logo:hover {
  filter: grayscale(0%);
}
