.clients-section {
  padding: 4%;
}

.clients-section .clients-title {
  font-size: 3.5vw;
  font-weight: 600;
  color: #959999;
  margin-bottom: 4%;
}

.clients-section .scrollable-clients-container {
  height: 50vh;
  overflow-y: auto;
  padding-right: 2%;
}

.clients-section .logos-grid {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
}

.clients-section .logos-column {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}

.clients-section .client-logo {
  width: 63%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
  background: black;
}

.clients-section .client-logo:hover {
  filter: grayscale(0%);
}
