.card-section-wrapper {
  padding: 4%;
}

.card-section-title {
  font-size: 3.5vw;
  font-weight: 600;
  color: #959999;
  margin-bottom: 1%;
}

.scrollable-card-container {
  /* max-height: 500px; Adjust height as needed */
  /* overflow-y: auto; Enables vertical scroll */
  /* max-width: 700px; */
  height: 45vh;
  overflow-y: auto;
}

.card-grid {
  height: 100%;
  display: flex;
  flex-wrap: nowrap; /* Prevents items from wrapping */
  gap: 4.5%;
}

.card-wrapper {
  width: 20vw;
  border-radius: 0;
  padding-right: 4%;
  border: none;
  border-right: 1px solid #9c9ea9;
  background-color: white;
}

.card-heading {
  display: flex;
  justify-content: left;
  align-items: start;
  font-size: 1vw;
  margin-bottom: 5%;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  border-bottom: none;
  color: #959999;
}

.card-container {
  padding-left: 0;
  padding-right: 0;
}

.card-title-heading {
  font-size: 1.2vw;
  font-weight: 600;
  color: #959999;
}

.card-description {
  color: #3d3e3e;
  font-size: 1vw;
  margin-top: 5%;
}
