.capabilities {
    height: 100%;
    padding: 50px 60px;
}

.lists-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    list-style: none;
}

.lists-section ul li {
    padding-bottom: 30px;
    font-size: 3rem;
}

.lists-section ul li span {
    padding-right: 20px;
    font-size: 1rem;
}

.text-section {
    font-size: 1rem;
}