.horizontal-container {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2%;
  /* user-select: none; */
}

.horizontal-container:active {
  cursor: grabbing; /* Changes cursor to grabbing icon while dragging */
}

.scroll-item {
  min-width: 41%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  padding-right: 0;
  padding-left: 0;
}

.scroll-item:last-child {
  min-width: 90%;
}

.scroll-row {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 20px;
    padding: 20px; 
    overflow-x: auto; */
  user-select: none;
  height: 100%;
}
