.horizontal-container {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2%;
  /* user-select: none; */
}

.horizontal-container:active {
  cursor: grabbing; /* Changes cursor to grabbing icon while dragging */
}

.scroll-row {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 20px;
    padding: 20px; 
    overflow-x: auto; */
  user-select: none;
  height: 100%;
}
